# Regression using keras

In [34]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [35]:
concrete_data = pd.read_csv('https://cocl.us/concrete_data')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [37]:
concrete_data.shape

(1030, 9)

In [38]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [39]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [40]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [41]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [42]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [43]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [44]:
import keras

In [45]:
from keras.models import Sequential
from keras.layers import Dense

In [46]:
# define regression model
n_cols = predictors.shape[1]
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [47]:
# split data into test and train sets
X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=i)
model = regression_model()
# fit the model
model.fit(X_train, y_train, validation_split=0.3, epochs=100, verbose=2)
# predict the model
y_hat = model.predict(X_test)
# calculate mean squared error between precdicted values and true values
error = mean_squared_error(y_hat, y_test)

Train on 504 samples, validate on 217 samples
Epoch 1/100
 - 9s - loss: 1561.2310 - val_loss: 1569.9828
Epoch 2/100
 - 0s - loss: 1551.6257 - val_loss: 1559.6387
Epoch 3/100
 - 0s - loss: 1540.9512 - val_loss: 1547.7987
Epoch 4/100
 - 0s - loss: 1528.4459 - val_loss: 1533.1035
Epoch 5/100
 - 0s - loss: 1512.2291 - val_loss: 1514.1220
Epoch 6/100
 - 0s - loss: 1491.3394 - val_loss: 1488.3668
Epoch 7/100
 - 0s - loss: 1462.8970 - val_loss: 1454.5862
Epoch 8/100
 - 0s - loss: 1425.2326 - val_loss: 1411.2213
Epoch 9/100
 - 0s - loss: 1377.4696 - val_loss: 1354.6578
Epoch 10/100
 - 0s - loss: 1315.6678 - val_loss: 1283.5790
Epoch 11/100
 - 0s - loss: 1238.1125 - val_loss: 1196.7982
Epoch 12/100
 - 0s - loss: 1144.1618 - val_loss: 1091.7490
Epoch 13/100
 - 0s - loss: 1032.9366 - val_loss: 970.6653
Epoch 14/100
 - 0s - loss: 906.8279 - val_loss: 834.6389
Epoch 15/100
 - 0s - loss: 768.3128 - val_loss: 691.9305
Epoch 16/100
 - 0s - loss: 629.1145 - val_loss: 550.7095
Epoch 17/100
 - 0s - loss: 494.6001 - val_loss: 431.6468
Epoch 18/100
 - 0s - loss: 390.6082 - val_loss: 338.6398
Epoch 19/100
 - 0s - loss: 317.3239 - val_loss: 280.1707
Epoch 20/100
 - 0s - loss: 272.1243 - val_loss: 249.3125
Epoch 21/100
 - 0s - loss: 249.2063 - val_loss: 229.9633
Epoch 22/100
 - 0s - loss: 235.6495 - val_loss: 216.5207
Epoch 23/100
 - 0s - loss: 223.9775 - val_loss: 207.6929
Epoch 24/100
 - 0s - loss: 215.1427 - val_loss: 199.8833
Epoch 25/100
 - 0s - loss: 207.4904 - val_loss: 193.1013
Epoch 26/100
 - 0s - loss: 200.8839 - val_loss: 187.6224
Epoch 27/100
 - 0s - loss: 195.3997 - val_loss: 182.3630
Epoch 28/100
 - 0s - loss: 191.0674 - val_loss: 179.5875
Epoch 29/100
 - 0s - loss: 185.6263 - val_loss: 175.2142
Epoch 30/100
 - 0s - loss: 181.8507 - val_loss: 171.7480
Epoch 31/100
 - 0s - loss: 178.4446 - val_loss: 168.7292
Epoch 32/100
 - 0s - loss: 175.2674 - val_loss: 166.6061
Epoch 33/100
 - 0s - loss: 172.4625 - val_loss: 164.7225
Epoch 34/100
 - 0s - loss: 169.8469 - val_loss: 161.9901
Epoch 35/100
 - 0s - loss: 167.2031 - val_loss: 159.4943
Epoch 36/100
 - 0s - loss: 164.8438 - val_loss: 157.8193
Epoch 37/100
 - 0s - loss: 162.6321 - val_loss: 155.6946
Epoch 38/100
 - 0s - loss: 160.5143 - val_loss: 153.6863
Epoch 39/100
 - 0s - loss: 158.3287 - val_loss: 152.2634
Epoch 40/100
 - 0s - loss: 156.5398 - val_loss: 151.2032
Epoch 41/100
 - 0s - loss: 155.0016 - val_loss: 149.8961
Epoch 42/100
 - 0s - loss: 153.2899 - val_loss: 148.3433
Epoch 43/100
 - 0s - loss: 151.8179 - val_loss: 147.1266
Epoch 44/100
 - 0s - loss: 150.4415 - val_loss: 145.7119
Epoch 45/100
 - 0s - loss: 149.3080 - val_loss: 144.7509
Epoch 46/100
 - 0s - loss: 148.1383 - val_loss: 144.0194
Epoch 47/100
 - 0s - loss: 146.9625 - val_loss: 142.9740
Epoch 48/100
 - 0s - loss: 145.9216 - val_loss: 142.5135
Epoch 49/100
 - 0s - loss: 144.8233 - val_loss: 141.5238
Epoch 50/100
 - 0s - loss: 144.2651 - val_loss: 140.3945
Epoch 51/100
 - 0s - loss: 143.2795 - val_loss: 139.4239
Epoch 52/100
 - 0s - loss: 142.4588 - val_loss: 139.5109
Epoch 53/100
 - 0s - loss: 141.7798 - val_loss: 138.8338
Epoch 54/100
 - 0s - loss: 141.3491 - val_loss: 138.0430
Epoch 55/100
 - 0s - loss: 140.9258 - val_loss: 137.7354
Epoch 56/100
 - 0s - loss: 139.6086 - val_loss: 136.7960
Epoch 57/100
 - 0s - loss: 139.0497 - val_loss: 136.2527
Epoch 58/100
 - 0s - loss: 138.5624 - val_loss: 135.3343
Epoch 59/100
 - 0s - loss: 138.0846 - val_loss: 134.5424
Epoch 60/100
 - 0s - loss: 137.2223 - val_loss: 134.8755
Epoch 61/100
 - 0s - loss: 136.6534 - val_loss: 134.0942
Epoch 62/100
 - 0s - loss: 136.2679 - val_loss: 133.8348
Epoch 63/100
 - 0s - loss: 135.6566 - val_loss: 132.8597
Epoch 64/100
 - 0s - loss: 134.9824 - val_loss: 132.8114
Epoch 65/100
 - 0s - loss: 134.6011 - val_loss: 132.5739
Epoch 66/100
 - 0s - loss: 134.0764 - val_loss: 132.2294
Epoch 67/100
 - 0s - loss: 133.6259 - val_loss: 131.8136
Epoch 68/100
 - 0s - loss: 133.1541 - val_loss: 131.3384
Epoch 69/100
 - 0s - loss: 133.1435 - val_loss: 130.9454
Epoch 70/100
 - 0s - loss: 132.2148 - val_loss: 130.9624
Epoch 71/100
 - 0s - loss: 132.2730 - val_loss: 130.1616
Epoch 72/100
 - 0s - loss: 131.5229 - val_loss: 129.6757
Epoch 73/100
 - 0s - loss: 131.1243 - val_loss: 129.6003
Epoch 74/100
 - 0s - loss: 131.2460 - val_loss: 129.5324
Epoch 75/100
 - 0s - loss: 130.6956 - val_loss: 128.3029
Epoch 76/100
 - 0s - loss: 130.2886 - val_loss: 128.2050
Epoch 77/100
 - 0s - loss: 129.8860 - val_loss: 128.3025
Epoch 78/100
 - 0s - loss: 129.2876 - val_loss: 127.7643
Epoch 79/100
 - 0s - loss: 128.9671 - val_loss: 127.7891
Epoch 80/100
 - 0s - loss: 128.6890 - val_loss: 127.2512
Epoch 81/100
 - 0s - loss: 128.4289 - val_loss: 126.8354
Epoch 82/100
 - 0s - loss: 127.8994 - val_loss: 126.8509
Epoch 83/100
 - 0s - loss: 127.9400 - val_loss: 126.1598
Epoch 84/100
 - 0s - loss: 127.1900 - val_loss: 125.7745
Epoch 85/100
 - 0s - loss: 126.9850 - val_loss: 125.9015
Epoch 86/100
 - 0s - loss: 126.6169 - val_loss: 125.5834
Epoch 87/100
 - 0s - loss: 126.2495 - val_loss: 125.0874
Epoch 88/100
 - 0s - loss: 125.8347 - val_loss: 124.8405
Epoch 89/100
 - 0s - loss: 125.6542 - val_loss: 124.6444
Epoch 90/100
 - 0s - loss: 125.1817 - val_loss: 124.5184
Epoch 91/100
 - 0s - loss: 124.7841 - val_loss: 124.3221
Epoch 92/100
 - 0s - loss: 124.4618 - val_loss: 124.0881
Epoch 93/100
 - 0s - loss: 124.1059 - val_loss: 123.4158
Epoch 94/100
 - 0s - loss: 123.6640 - val_loss: 123.0252
Epoch 95/100
 - 0s - loss: 123.5144 - val_loss: 122.9283
Epoch 96/100
 - 0s - loss: 123.0675 - val_loss: 122.3153
Epoch 97/100
 - 0s - loss: 122.6926 - val_loss: 122.3068
Epoch 98/100
 - 0s - loss: 122.1610 - val_loss: 121.7891
Epoch 99/100
 - 0s - loss: 121.7888 - val_loss: 121.3344
Epoch 100/100
 - 0s - loss: 121.3325 - val_loss: 121.3133

In [ ]:
print('Mean squared errors is {}'.format(error))